@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Karla:wght@300&family=Lato&family=Montserrat:wght@200&family=Mukta&family=Open+Sans&family=Oswald&family=Quicksand:wght@300&family=Roboto+Serif:wght@200&family=Source+Sans+Pro&family=Tajawal&family=Titillium+Web:wght@300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Karla:wght@300&family=Lato&family=Montserrat:wght@200&family=Mukta&family=Open+Sans&family=Oswald&family=Quicksand:wght@300&family=Roboto+Serif:wght@200&family=Source+Sans+Pro:ital@0;1&family=Tajawal&family=Titillium+Web:wght@300&family=Ubuntu&display=swap');
*{
    margin: 0px;
}
/* Navbar Style */
.navbar{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: fixed ; */
    width: 100%;
    margin-top: 20px;
}
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.div-item{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 47px;
    font-weight: bold;
    font-family: 'Roboto Serif', serif;
}
.div-item:hover{
    opacity: 0.4;
    transition: 0.6s;
}


/* H text Style  */
.h-text{
    background-image: url("img/videobg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 846px;
    margin-top: 20px;
}


.container{
    margin-left: 70px;
}
.h-para1{
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 145px;
}
.h-para2{
    color: white;
    font-size: 40px;
    font-family:'Montserrat', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}
.h-para3{
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
span{
    font-size: 17px;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-weight: bold; */
}
.h-btn{
    width: 225px ;
    height: 55px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
}
.h-btn:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
.h-href{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.select{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 100px;

}
.select-1{
    margin-right: 44px;
}


.select-para1{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.select-para2{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}



/* Categories Style */
.categories{
    background-image: url('img/background1.jpg');
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}
.cate-para1{
    padding-top: 300px;
    font-size: 60px;
    color: white;
}
.categ-btn{
    width: 150px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
.categ-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}
